# Python virtual environment
venv/

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Streamlit cache
.cache/

# VS Code
.vscode/

# OS files
.DS_Store
Thumbs.db
